@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bạn có thể viết thêm CSS thuần tùy biến ở phía dưới này nếu cần */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
}